<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RuDict.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <RuDict.Properties.Settings>
            <setting name="ApplicationHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ApplicationWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ApplicationTop" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ApplicationLeft" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Gramota" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Google" serializeAs="String">
                <value>True</value>
            </setting>
        </RuDict.Properties.Settings>
    </userSettings>
</configuration>
